h1 {
  text-align: center;
}

.jumbotron {
  background-color: #a6872b;
  margin: 1px;
  padding: 5px;

}

.col-md-6 {
  background-color: #DEB887;
}

body {
  background-color: #DEB887;
}

img {
  float: inherit;
  margin: 5;
  padding: 5px;
}

li {
  font-size: 30px;
}
